<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{400,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{600,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{800,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{1000,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ADaisy.png</string>
            <key>size</key>
            <string>{1200,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34f2199c4b965d2f93ed9cf91a3ace74:eacea64c796fd786cb54254d07acd13d:8ace5e98ba5cc58577811684ce683783$</string>
            <key>textureFileName</key>
            <string>ADaisy.png</string>
        </dict>
    </dict>
</plist>
