<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daisyhelper1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,380}</string>
                <key>spriteSourceSize</key>
                <string>{140,380}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daisyhelper2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,380}</string>
                <key>spriteSourceSize</key>
                <string>{140,380}</string>
                <key>textureRect</key>
                <string>{{0,380},{140,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>daisyhelpers.png</string>
            <key>size</key>
            <string>{140,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:535c78ff69d7b8330681d5ec6ac13f8d:f8c55efff9ffbd0abf37be5f30c36bdb:93c7f8cf16922539be649ffc230e364b$</string>
            <key>textureFileName</key>
            <string>daisyhelpers.png</string>
        </dict>
    </dict>
</plist>
