<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>faster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,40}</string>
                <key>spriteSourceSize</key>
                <string>{107,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{107,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>randomtime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,40}</string>
                <key>spriteSourceSize</key>
                <string>{214,40}</string>
                <key>textureRect</key>
                <string>{{107,0},{214,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>FRT.png</string>
            <key>size</key>
            <string>{321,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:697fd84a76772061f05de1a4de065804:dc7dde4a3fbb0299e63e03f008f87a1d:0c28f8d3a2fae2a64c7262d4271a8d38$</string>
            <key>textureFileName</key>
            <string>FRT.png</string>
        </dict>
    </dict>
</plist>
