<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shareonfacebook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,131}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareontwitter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,131}</string>
                <key>spriteSourceSize</key>
                <string>{500,131}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{1000,131}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:139cdd158fea1ebfed7a8e55926caadb:1269c50e8e91306b4628e300384f0a15:953d3665f264cda36fcc0ed6233f063a$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
