<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,92}</string>
                <key>spriteSourceSize</key>
                <string>{309,92}</string>
                <key>textureRect</key>
                <string>{{0,0},{309,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,293}</string>
                <key>spriteSourceSize</key>
                <string>{341,293}</string>
                <key>textureRect</key>
                <string>{{309,0},{341,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,280}</string>
                <key>spriteSourceSize</key>
                <string>{511,280}</string>
                <key>textureRect</key>
                <string>{{0,293},{511,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{0,573},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xulipasoftworks.png</string>
            <key>size</key>
            <string>{1024,1341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7e00a52a23f82137ce471844089ec41:04ca741907670d9d528ebd6b6918ecd0:648b8530eb8decdfa91b98894d6d65d5$</string>
            <key>textureFileName</key>
            <string>xulipasoftworks.png</string>
        </dict>
    </dict>
</plist>
